@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Gupter&display=swap");

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: inherit;
}

#root {
	overflow-x: hidden;
	width: 100vw;
}

code {
	font-family: "Bebas Neue", cursive;
	font-family: "Gupter", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: "Bebas Neue", cursive;
	margin: 0;
}

p {
	font-family: "Gupter", serif;
}

svg {
	z-index: 50;
}
